body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:white;
  background-color: rgb(19, 19, 19);
}

a {
  color:white;
}

.top {
  border-bottom: 2px solid white;
}

.middle {
  border: 2px solid white;
  padding: 10px;
  max-width: 300px;
  margin-bottom: 100px;
}

.container{
  margin-bottom: 100px;
}

.text-center{
  text-align: center;
}

.d-flex {
  display: flex;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-flex.space-between{
  justify-content: space-between;
}

.d-flex.space-around {
  justify-content: space-around;
}

.d-flex.justify-content-center {
  justify-content: center;
}